<div class="index-page">
  <div class="text-index">
    <h1>Cinema Ironhack</h1>
    <a href="/movies/">
      <div class="button-index"> <h2>Check the movies!</h2>
      </div>
    </a>
  </div>
</div>